{% extends "base.html" %}
{% block content %}
<h2>Редактирование записи</h2>

<div class="col-md-4">
    <form method="post">
      {% csrf_token %}
      <div class="mb-2">
        {{ form.name.label_tag }} {{ form.name }}
      </div>
      <div class="mb-2">
        {{ form.email.label_tag }} {{ form.email }}
      </div>
      <div class="mb-2">
        {{ form.text.label_tag }} {{ form.text }}
      </div>
      <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
      <a href="{% url 'index' %}" class="btn btn-secondary mt-2">Отмена</a>
    </form>

</div>
{% endblock %}